<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">
            <span role="img" aria-label="Home" title="Home">🏡</span>
        </a> |
        <a href="{% url 'about' %}">
            <span role="img" aria-label="About" title="About">😊</span>
        </a> |
        {% if user.is_authenticated %}
            {% if user.Role == "Student" %}
                <a href="{% url 'members:student_profile' %}">
                    <span role="img" aria-label="Student Dashboard" title="Student Dashboard">📚</span>
                </a> |
            {% elif user.Role == "GeneralManager" %}
                <a href="{% url 'members:general_manager_profile' %}">
                    <span role="img" aria-label="General Manager Dashboard" title="General Manager Dashboard">👑</span>
                </a> |
            {% elif user.Role == "DepartmentManager" %}
                <a href="{% url 'members:department_manager_dashboard' %}">
                    <span role="img" aria-label="Department Manager Dashboard" title="Department Manager Dashboard">🏢</span>
                </a> |
            {% endif %}
            <form class="logout" action="{% url 'members:logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-button" aria-label="User Logout" title="User Logout">👋</button>
            </form>
        {% else %}
            <a href="{% url 'members:register' %}">
                <span role="img" aria-label="User Registration" title="User Registration">🚀</span>
            </a> |
            <a href="{% url 'members:login' %}">
                <span role="img" aria-label="User Login" title="User Login">🔏</span>
            </a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>